body{
    margin:0%;
    font-family: 'Poppins', sans-serif;

}

.flexible1{
    display:flex;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
}

.flexible2{
    display:flex;
}

.flexible3{
    display:flex;
    margin-bottom: 200px;
   
}
.leftside {
    width: 50%;
    margin-top: 60px;
    padding-left: 10%;

}
.leftside h1{
font-size: 2.6rem;
}

.rightside {
    width: 50%;
}


.borno{
    color:darkturquoise;
}


.my_button{
    text-decoration: none;
    color:white;
    font-weight: 700;
    background-color:darkturquoise;
    padding: 5px 10px 5px 10px;
}

.uppic{

    height: 100%;
    width: 100%;
}

.card1{
    width: 45%;
    box-shadow: gray;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 10px 10px 40px gray;
    margin-right: 10%;
    margin-left: 5%;
    padding-bottom:30 px ;
    border-radius: 20px;
   
    
}
.card2{
    width: 45%;
    box-shadow: gray;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;;
    box-shadow: 10px 10px 40px gray;
    margin-right: 10%;
    margin-left: 5%;
    border-radius: 20px;
    
}

#cardish1 {

    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice:1;
}
#cardish2 {

    border-left: 7px solid;
    border-image: linear-gradient(rgb(17, 255, 17),cyan);
    border-image-slice:1;
}
section h2{
    font-size: 2.7rem;
}
footer p{
text-align: center;
min-height: 100px;;
}